@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;600&family=Poppins&display=swap');
nav{
    background-color: #52734D;
    width: 100%;
    height: 80px;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
}
.navbar-brand{
    color: #FEFFDE;
    font-family: 'Martel', serif;
    font-weight: 600;
    font-size: 32px;
}
.navbar-brand:hover{
    color: #FEFFDE;
}
.nav-link{
    color: #FEFFDE;
    font-family: 'Martel', serif;
    font-weight: 400;
    font-size: 24px;
}
.nav-link:hover{
    color: #FEFFDE;
}
.nav-link:visited{
    color: #FEFFDE;
}
@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end{ right:0; left: auto;  }
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}

.dropdown-menu{
    background-color: #52734D;
}
.dropdown-toggle:hover{
    color: #FEFFDE;
}
.dropdown-item:hover{
    background-color: #52734D;
}
.dropdown-item:visited{
    background-color: #405a3c;
}